#g-1 path {
  stroke-dasharray: 92.3330078125px;
  stroke-dashoffset: 92.3330078125px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    fasto 4s ease-in-out infinite alternate;
}

#g-4 path {
  stroke-dasharray: 267.37103271484375px;
  stroke-dashoffset: 267.37103271484375px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    fasto 4s ease-in-out infinite alternate;
}

#g-7 path {
  stroke-dasharray: 348.76904296875px;
  stroke-dashoffset: 348.76904296875px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    fasto 4s ease-in-out infinite alternate;
}

#g-8 path {
  stroke-dasharray: 77.14801025390625px;
  stroke-dashoffset: 77.14801025390625px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    fasto 4s ease-in-out infinite alternate;
}

#g-9 path {
  stroke-dasharray: 141.85299682617188px;
  stroke-dashoffset: 141.85299682617188px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    fasto 4s ease-in-out infinite alternate;
}

#g-10 path {
  stroke-dasharray: 157.58200073242188px;
  stroke-dashoffset: 157.58200073242188px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    fasto 4s ease-in-out infinite alternate;
}

#g-11 path {
  stroke-dasharray: 77.14697265625px;
  stroke-dashoffset: 77.14697265625px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    fasto 4s ease-in-out infinite alternate;
}

#g-12 path {
  stroke-dasharray: 211.8190155029297px;
  stroke-dashoffset: 211.8190155029297px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    fasto 4s ease-in-out infinite alternate;
}

#g-15 path {
  stroke-dasharray: 194.0290069580078px;
  stroke-dashoffset: 194.0290069580078px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    fasto 4s ease-in-out infinite alternate;
}

#g-20 path {
  stroke-dasharray: 279.0740051269531px;
  stroke-dashoffset: 279.0740051269531px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    fasto 4s ease-in-out infinite alternate;
}

#g-21 path {
  stroke-dasharray: 77.14700317382812px;
  stroke-dashoffset: 77.14700317382812px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    fasto 4s ease-in-out infinite alternate;
}

#g-23 path {
  stroke-dasharray: 120.5369873046875px;
  stroke-dashoffset: 120.5369873046875px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    fasto 4s ease-in-out infinite alternate;
}

#g-25 path {
  stroke-dasharray: 372.5924987792969px;
  stroke-dashoffset: 372.5924987792969px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    fasto 4s ease-in-out infinite alternate;
}

#g-29 path {
  stroke-dasharray: 232.4290008544922px;
  stroke-dashoffset: 232.4290008544922px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    fasto 4s ease-in-out infinite alternate;
}

#g-32 path {
  stroke-dasharray: 53.010986328125px;
  stroke-dashoffset: 53.010986328125px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    fasto 4s ease-in-out infinite alternate;
}

#g-33 path {
  stroke-dasharray: 92.333984375px;
  stroke-dashoffset: 92.333984375px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    fasto 4s ease-in-out infinite alternate;
}

#g-37 path {
  stroke-dasharray: 161.48599243164062px;
  stroke-dashoffset: 161.48599243164062px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    fasto 4s ease-in-out infinite alternate;
}

#g-38 path {
  stroke-dasharray: 89.89300537109375px;
  stroke-dashoffset: 89.89300537109375px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    fasto 4s ease-in-out infinite alternate;
}
