#g-47 path {
  stroke-dasharray: 359.5px;
  stroke-dashoffset: 359.5px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    sekando 4s ease-in-out infinite alternate;
}

#g-49 path {
  stroke-dasharray: 61.906005859375px;
  stroke-dashoffset: 61.906005859375px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    sekando 4s ease-in-out infinite alternate;
}

#g-50 path {
  stroke-dasharray: 245.01199340820312px;
  stroke-dashoffset: 245.01199340820312px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    sekando 4s ease-in-out infinite alternate;
}

#g-54 path {
  stroke-dasharray: 61.906005859375px;
  stroke-dashoffset: 61.906005859375px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    sekando 4s ease-in-out infinite alternate;
}

#g-55 path {
  stroke-dasharray: 180.41900634765625px;
  stroke-dashoffset: 180.41900634765625px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    sekando 4s ease-in-out infinite alternate;
}

#g-57 path {
  stroke-dasharray: 251.01101684570312px;
  stroke-dashoffset: 251.01101684570312px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    sekando 4s ease-in-out infinite alternate;
}

#g-59 path {
  stroke-dasharray: 179.114013671875px;
  stroke-dashoffset: 179.114013671875px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    sekando 4s ease-in-out infinite alternate;
}

#g-61 path {
  stroke-dasharray: 155.3249969482422px;
  stroke-dashoffset: 155.3249969482422px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    sekando 4s ease-in-out infinite alternate;
}

#g-62 path {
  stroke-dasharray: 61.4949951171875px;
  stroke-dashoffset: 61.4949951171875px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    sekando 4s ease-in-out infinite alternate;
}

#g-63 path {
  stroke-dasharray: 120.53701782226562px;
  stroke-dashoffset: 120.53701782226562px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    sekando 4s ease-in-out infinite alternate;
}

#g-69 path {
  stroke-dasharray: 318.59588623046875px;
  stroke-dashoffset: 318.59588623046875px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    sekando 4s ease-in-out infinite alternate;
}

#g-71 path {
  stroke-dasharray: 120.53799438476562px;
  stroke-dashoffset: 120.53799438476562px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    sekando 4s ease-in-out infinite alternate;
}

#g-73 path {
  stroke-dasharray: 280.5160217285156px;
  stroke-dashoffset: 280.5160217285156px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    sekando 4s ease-in-out infinite alternate;
}

#g-74 path {
  stroke-dasharray: 32.673004150390625px;
  stroke-dashoffset: 32.673004150390625px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    sekando 4s ease-in-out infinite alternate;
}

#g-75 path {
  stroke-dasharray: 87.9949951171875px;
  stroke-dashoffset: 87.9949951171875px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    sekando 4s ease-in-out infinite alternate;
}

#g-77 path {
  stroke-dasharray: 217.08201599121094px;
  stroke-dashoffset: 217.08201599121094px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    sekando 4s ease-in-out infinite alternate;
}

#g-78 path {
  stroke-dasharray: 71.00698852539062px;
  stroke-dashoffset: 71.00698852539062px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    sekando 4s ease-in-out infinite alternate;
}

#g-80 path {
  stroke-dasharray: 81.85498046875px;
  stroke-dashoffset: 81.85498046875px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear infinite,
    sekando 4s ease-in-out infinite alternate;
}
