#g-129 path {
  stroke-dasharray: 167.93399047851562px;
  stroke-dashoffset: 167.93399047851562px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    foorth 4s ease-in-out infinite alternate;
}

#g-132 path {
  stroke-dasharray: 57.49200439453125px;
  stroke-dashoffset: 57.49200439453125px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    foorth 4s ease-in-out infinite alternate;
}

#g-134 path {
  stroke-dasharray: 292.42999267578125px;
  stroke-dashoffset: 292.42999267578125px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    foorth 4s ease-in-out infinite alternate;
}

#g-140 path {
  stroke-dasharray: 179.09201049804688px;
  stroke-dashoffset: 179.09201049804688px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    foorth 4s ease-in-out infinite alternate;
}

#g-148 path {
  stroke-dasharray: 272.5060119628906px;
  stroke-dashoffset: 272.5060119628906px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    foorth 4s ease-in-out infinite alternate;
}

#g-153 path {
  stroke-dasharray: 157.08999633789062px;
  stroke-dashoffset: 157.08999633789062px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    foorth 4s ease-in-out infinite alternate;
}

#g-159 path {
  stroke-dasharray: 112.94400024414062px;
  stroke-dashoffset: 112.94400024414062px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    foorth 4s ease-in-out infinite alternate;
}

#g-164 path {
  stroke-dasharray: 112.94400024414062px;
  stroke-dashoffset: 112.94400024414062px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    foorth 4s ease-in-out infinite alternate;
}

#g-165 path {
  stroke-dasharray: 56.5369873046875px;
  stroke-dashoffset: 56.5369873046875px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    foorth 4s ease-in-out infinite alternate;
}

#g-168 path {
  stroke-dasharray: 211.656005859375;
  stroke-dashoffset: 211.656005859375;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    foorth 4s ease-in-out infinite alternate;
}

#g-170 path {
  stroke-dasharray: 56.5369873046875px;
  stroke-dashoffset: 56.5369873046875px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    foorth 4s ease-in-out infinite alternate;
}

#g-171 path {
  stroke-dasharray: 56.537017822265625px;
  stroke-dashoffset: 56.537017822265625px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    foorth 4s ease-in-out infinite alternate;
}
