#g-82 path {
  stroke-dasharray: 362.01348876953125;
  stroke-dashoffset: 362.01348876953125;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    thardo 4s ease-in-out infinite alternate;
}

#g-85 path {
  stroke-dasharray: 82.94000244140625px;
  stroke-dashoffset: 82.94000244140625px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    thardo 4s ease-in-out infinite alternate;
}

#g-91 path {
  stroke-dasharray: 167.39199829101562px;
  stroke-dashoffset: 167.39199829101562px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    thardo 4s ease-in-out infinite alternate;
}

#g-98 path {
  stroke-dasharray: 344.364013671875px;
  stroke-dashoffset: 344.364013671875px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    thardo 4s ease-in-out infinite alternate;
}

#g-105 path {
  stroke-dasharray: 276.70001220703125px;
  stroke-dashoffset: 276.70001220703125px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    thardo 4s ease-in-out infinite alternate;
}

#g-107 path {
  stroke-dasharray: 120.5369873046875px;
  stroke-dashoffset: 120.5369873046875px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    thardo 4s ease-in-out infinite alternate;
}

#g-110 path {
  stroke-dasharray: 344.3647155761719px;
  stroke-dashoffset: 344.3647155761719px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    thardo 4s ease-in-out infinite alternate;
}

#g-112 path {
  stroke-dasharray: 240.4779815673828px;
  stroke-dashoffset: 240.4779815673828px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    thardo 4s ease-in-out infinite alternate;
}

#g-114 path {
  stroke-dasharray: 174.83499145507812px;
  stroke-dashoffset: 174.83499145507812px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    thardo 4s ease-in-out infinite alternate;
}

#g-118 path {
  stroke-dasharray: 241.45501708984375px;
  stroke-dashoffset: 241.45501708984375px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    thardo 4s ease-in-out infinite alternate;
}

#g-120 path {
  stroke-dasharray: 347.510009765625px;
  stroke-dashoffset: 347.510009765625px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    thardo 4s ease-in-out infinite alternate;
}

#g-121 path {
  stroke-dasharray: 56.5369873046875px;
  stroke-dashoffset: 56.5369873046875px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    thardo 4s ease-in-out infinite alternate;
}

#g-124 path {
  stroke-dasharray: 323.7539978027344px;
  stroke-dashoffset: 323.7539978027344px;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
  animation: insideMen 7s linear 1 forwards,
    thardo 4s ease-in-out infinite alternate;
}
